body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.flex-grid {
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
}
  
.col {
    border: solid 1px;
    border-color: salmon;
    border-radius: 5px;
    width: 20%;
    margin: 2px;
    padding: 5px;
    min-width: 100px;
    max-width: 200px;
    color: darkgray;
    text-align: center;
}

img {
    opacity: 0.3;
    width: 100%;
    height: auto;
}

/* Datepick */

.datepick{
    color: darkgray;
    text-align: center;
    margin: 2px;
    border-radius: 10px;
    padding: 5px;
}

.datepick.selected{
    color: salmon;
}

.date{
    border: solid 1px;
    line-height: 40px;
    width: 40px;
    height: 40px;
    border-radius: 50%; 
}